*.o
.deps/
*.dSYM/
build/autom4te.cache/
build/ar-lib
build/compile
build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/missing
build/ubreak
build/ucategory
build/uscript
build/ylwrap
.dirstamp
Makefile
Makefile.in
TAGS
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
lib/grammar.c
lib/grammar.output
lib/libbuffer.a
lib/libnmc.a
src/nmc
stamp-h1
test/atconfig
test/atlocal
test/nmc
test/package.m4
test/testsuite
test/testsuite.dir
testsuite.log
