*.o
*.dSYM/
build/
Makefile
Makefile.in
TAGS
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
src/.deps/
src/.dirstamp
src/nmc
src/grammar.c
src/grammar.h
src/grammar.output
stamp-h1
test/atconfig
test/atlocal
test/nmc
test/package.m4
test/testsuite
test/testsuite.dir
testsuite.log
