*.1
*.7
*.exe
*.nml
*.o
.deps/
*.dSYM/
build/autom4te.cache/
build/ar-lib
build/compile
build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/missing
build/ucategory
build/uwide
build/uwordbreak
build/ylwrap
data/catalog.xml
data/DerivedEastAsianWidth.txt
data/UnicodeData.txt
data/WordBreakProperty.txt
.dirstamp
.tarball-version
.version
Makefile
Makefile.in
TAGS
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
lib/grammar.c
lib/grammar.output
lib/libbuffer.a
lib/libnmc.a
src/nmc
stamp-h1
test/atconfig
test/atlocal
test/data/WordBreakTest.txt
test/nmc
test/package.m4
test/testsuite
test/testsuite.dir
test/wordbreak
testsuite.log
